# Visual Studio
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.suo

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Generated assembly info
*.AssemblyInfo.cs

# NuGet
project.assets.json

# Compiled binaries
*.dll
*.pdb