@inherits LayoutComponentBase
@inject AuthService Auth
@inject NavigationManager Nav
@inject AuthService Auth
@using RentaCar.Blazor.Services

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="display:flex; justify-content:flex-end; align-items:center; gap:10px;">

            @if (!Auth.EstaLogueado)
            {
                <button class="btn-login" @onclick="IrLogin">
                    Iniciar sesión
                </button>
            }
            else
            {
                <span>
                    @Auth.NombreUsuario
                </span>

                <button class="btn-login" @onclick="Logout">
                    Salir
                </button>
            }

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


<style>

    .top-row {
        background: #0f172a !important;
        border-bottom: 1px solid #1e293b;
        min-height: 60px;
        color: #e5e7eb;
    }

    main {
        background: #020617;
        min-height: 100vh;
    }

    .content {
        background: #020617;
        color: #e5e7eb;
        min-height: calc(100vh - 60px);
    }

    .btn-login {
        background: #3b82f6;
        color: white;
        border: none;
        padding: 8px 14px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        font-weight: 600;
    }

        .btn-login:hover {
            background: #2563eb;
            transform: scale(1.03);
        }

</style>

@code {
    private bool _sesionRestaurada;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_sesionRestaurada)
        {
            _sesionRestaurada = true;

            await Auth.RestaurarSesion();

            StateHasChanged();
        }
    }
    void IrLogin()
    {
        Nav.NavigateTo("/login");
    }

    private async Task Logout()
    {
        await Auth.Logout();
        Nav.NavigateTo("/");
    }
}