<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RentaCar</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i>
                <span>Inicio</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="flota">
                <i class="bi bi-car-front-fill"></i>
                <span>Flota</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-icon" href="cancelar-reserva">
                <i class="bi bi-calendar-x-fill"></i>
                <span>Cancelar Reserva</span>
            </NavLink>
        </div>

    </nav>
</div>